PORT=3000
MONGODB_URI=mongodb://localhost:27017/codeflow
FIREBASE_PROJECT_ID=your-firebase-project-id

# Nodemailer / SMTP Email Settings
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
CONTACT_RECEIVER_EMAIL=codeflowvisualizer@gmail.com